<footer>
	<!--<hr class="featurette-divider">-->
	<div class="container">
		<div class="row">
			<div class="span6">developed by <b><a href="http://cristheinz.info" target="_blank">cristheinz</a></b></div>
		</div>

		<div class="row">
			<center>
				<br />
				<small><%= Time.now.year %> - Copyright</small>
			</center>
		</div>
	</div>
</footer>
